:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 50px;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: #ffff;
    margin-bottom: 40px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

.txt {
    color: #fad4ed;
}
#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#compteur {
    margin-top: 10px;
    font-size: 16px;
    color: #fad4ed;
}

.btn-retour {
    justify-content: left;
    display: inline-flex;
    padding: 10px 18px;
    margin-bottom: 20px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.btn-retour:hover {
    background-color: #5a6268;
    color: #ffffff;
}