:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
    --ecriturebtn: #ffffff;
    --backbtn: #6c757d;
    --backbtnhover: #5a6268;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border-radius: 1rem;
}

.txt {
    color: var(--text2);
    font-size: 1.5rem;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

#compteur {
    margin-top: 10px;
    color: var(--text2);
    font-size: 1.5rem;
}

#choicedifficulty {
    color: var(--rose);
    font-size: 1.5rem;
}