:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: #ffff;
    margin-bottom: 40px;
}

.btn-retour {
    justify-content: left;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
    max-width: 10rem;
    margin-left: 10px;
}

.btn-retour:hover {
    background-color: #5a6268;
    color: #ffffff;
}

#board { 
    display: grid; 
    grid-template-columns: repeat(3, 100px); 
    grid-gap: 5px; 
    justify-content: center; 
    margin-top: 20px; 
}

.cell { 
    width: 100px; 
    height: 100px; 
    background: white; 
    font-size: 2em; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    border-radius: 1rem;
}

#reset { 
    margin-top: 20px; 
    padding: 10px 20px; 
    border-radius: 1rem;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fad4ed;
}
