body {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

.btn-retour {
    justify-content:left;
    display:inline-flex;  
    padding: 10px 18px;     
    margin-bottom: 20px;
    background-color: #6c757d; 
    color: #ffffff;             
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.btn-retour:hover {
    background-color: #5a6268; 
    color: #ffffff;
}