:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
    --ecriturebtn: #ffffff;
    --backbtn: #6c757d;
    --backbtnhover: #5a6268;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

.card-tuto {
  border: solid var(--background) 2px;
  background-color: var(--text);
  border-radius: 1rem;
  max-width: 40rem;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: var(--ecriturebtn);
    margin-bottom: 20px;
    font-size: 5rem;
}

.btn-retour {
    justify-content: left;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: var(--backbtn);
    color: var(--ecriturebtn);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
    max-width: 10rem;
    margin-left: 10px;
}

.btn-retour:hover {
    background-color: var(--backbtnhover);
    color: var(--ecriturebtn);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}

#reset { 
    margin-top: 20px; 
    padding: 10px 20px; 
    border-radius: 1rem;
    font-family: "Pixelify Sans", sans-serif;
    background-color: var(--backbtn);
    color: var(--ecriturebtn);
    font-weight: bold;
    transition: 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}

#reset:hover {
    background-color: var(--backbtnhover);
    color: var(--ecriturebtn);
}

