* {
  margin: 0;
  padding: 0;
  border: none;
}

.card-tuto {
  border: solid #2d0145 2px;
  background-color: #eda4d4;
  border-radius: 1rem;
  max-width: 40rem;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: #ffff;
    margin-bottom: 20px;
    font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
}



