:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 50px;
}

.btn-retour {
    justify-content: left;
    display: inline-flex;
    padding: 10px 18px;
    margin-bottom: 20px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.btn-retour:hover {
    background-color: #5a6268;
    color: #ffffff;
}

#word {
    font-size: 2em;
    letter-spacing: 10px;
}

#wrong-letters {
    color: red;
}

#message {
    font-size: 1.5em;
    margin: 20px 0;
}

#restart {
    font-family: "Pixelify Sans", sans-serif;
    justify-content: left;
    display: inline-flex;
    padding: 10px 18px;
    margin-bottom: 20px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#restart:hover {
    background-color: #5a6268;
    color: #ffffff;
}