:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

.title {
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: #ffff;
    margin-bottom: 20px;
    font-size: 3rem;
}

.btn-retour {
    justify-content: left;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
    max-width: 10rem;
    margin-left: 10px;
}

.btn-retour:hover {
    background-color: #5a6268;
    color: #ffffff;
}

#word {
    font-size: 2em;
    letter-spacing: 10px;
}

#wrong-letters {
    color: red;
}

#message {
    font-size: 1.5em;
    margin: 20px 0;
}

#restart {
    font-family: "Pixelify Sans", sans-serif;
    justify-content: left;
    display: inline-flex;
    padding: 10px 18px;
    margin-bottom: 20px;
    background-color: #6c757d;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#restart:hover {
    background-color: #5a6268;
    color: #ffffff;
}

#message {
    color: #fad4ed;
}

#tries {
    color: #fad4ed;
}

#word {
    color: #fad4ed;
}

#keyboard button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#keyboard button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}