:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
    --ecriturebtn: #ffffff;
    --backbtn: #6c757d;
    --backbtnhover: #5a6268;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

#word {
    font-size: 3rem;
    letter-spacing: 10px;
    color: var(--text2);
}

#wrong-letters {
    color: red;
    font-size: 1.5rem;
}

#message {
    font-size: 1.5em;
    margin: 20px 0;
    color: var(--text2);
}

#tries {
    color: var(--text2);
    font-size: 1.5rem;
}

#choicedifficulty {
    color: var(--rose);
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#letters {
    margin-top: 4rem;
    margin-right: 15rem;
}

#hangman {
    position: relative;
    width: 250px;
    height: 260px;
    margin-bottom: 2rem;
    margin-left: 15rem;
}

.gallow, .body {
    display: none;
    position: absolute;
    background: var(--rose);
}

.base {
    width: 140px;
    height: 10px;
    bottom: 0;
    left: 40px;
}

.pole {
    width: 10px;
    height: 200px;
    bottom: 10px;
    left: 90px; 
}

.top {
    width: 100px;
    height: 10px;
    bottom: 210px;
    left: 90px; 
}

.rope {
    width: 3px;
    height: 25px;
    bottom: 190px;
    left: 187px; 
}

.head {
    width: 40px;
    height: 40px;
    border: 3px solid var(--rose);
    border-radius: 50%;
    bottom: 150px;
    left: 165px;
}

.torso {
    width: 4px;
    height: 60px;
    bottom: 90px;
    left: 185px;
}

.left-arm, .right-arm {
    width: 35px;
    height: 4px;
    bottom: 130px;
}

.left-arm {
    left: 150px;
    transform: rotate(-25deg);
}

.right-arm {
    left: 185px;
    transform: rotate(25deg);
}

.left-leg, .right-leg {
    width: 35px;
    height: 4px;
    bottom: 80px;
}

.left-leg {
    left: 152px;
    transform: rotate(-30deg);
}

.right-leg {
    left: 184px;
    transform: rotate(30deg);
}


#keyboard {
    margin-top: 20px;
    text-align: center;
}

#keyboard button {
    margin: 3px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--text);
}

#keyboard button:disabled {
    background-color: var(--violet);
}