:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
    --ecriturebtn: #ffffff;
    --backbtn: #6c757d;
    --backbtnhover: #5a6268;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: var(--ecriturebtn);
    margin-bottom: 20px;
    font-size: 3rem;
}

.btn-retour {
    justify-content: left;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: var(--backbtn);
    color: var(--ecriturebtn);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
    max-width: 10rem;
    margin-left: 10px;
}

.btn-retour:hover {
    background-color: var(--backbtnhover);
    color: var(--ecriturebtn);
}