:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
    --ecriturebtn: #ffffff;
    --backbtn: #6c757d;
    --backbtnhover: #5a6268;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    text-align: center;
    margin-top: 20px;
}

#combat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

@media (min-width: 1100px) {
    #combat {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

#combat img {
    height: auto;
    display: block;
    max-width: 320px;
}

.container p {
    font-size: 2rem;
    color: var(--rose);
}

#combat div {
    align-items: center;
    max-width: 320px;
}

button {
    margin: 15px;
    padding: 8px 12px;
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
    cursor: pointer;
    background-color: var(--rose);
    color: var(--ecriturebtn);
    box-shadow: 5px 5px 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 2px 2px 2px;
    transform: translateY(-2px);
}

.container {
    text-align: center;
}

#resultat {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    color: var(--rose);
}

#vs {
    font-size: 5rem;
    color: var(--text);
}
