:root {
    --background: #2D0145;
    --indigo: #570163;
    --violet: #800080;
    --rose: #b752aa;
    --text: #eda4d4;
    --text2: #fad4ed;
}


body {
    font-family: "Pixelify Sans", sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.title{
    text-shadow: rgb(255, 113, 206) 0px 0px 20px, rgba(255, 113, 206, 0.8) 0px 0px 30px, rgba(255, 113, 206, 0.6) 0px 0px 40px, rgba(255, 113, 206, 0.4) 0px 0px 50px;
    color: #ffff;
    margin-bottom: 40px;
}
/* 
h1 {
} */

#game-list {
    display: flex;
    gap: 30px;
    width: 200px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    justify-content: center;
}

#game-list li {
    display: block;
    background-color: #f0f2f5;
    border: 2px solid purple;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

#game-list li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}