:root {
  --background : #2D0145;
  --indigo : #570163;
  --violet : #800080;
  --rose : #b752aa;
  --text : #eda4d4;
  --text2 : #fad4ed;
}


body {
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.22) 0px, rgba(0, 0, 0, 0.22) 2px, transparent 2px, transparent 4px);
    background-color: var(--background);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #4a4a4a;
    margin-bottom: 40px;
}
#game-list {
    display: flex;
    gap: 100px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;;
}