body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Un gris très clair */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    color: #4a4a4a;
    margin-bottom: 40px;
}
#game-list {
    display: flex;
    gap: 30px;
    width: 200px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#game-list li {
    display: block;
    background-color: #f0f2f5;
    border: 2px solid purple;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 15px;
    width: 400px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

#game-list li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}